* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general css start  */

:root {
  --white: #fff;
  --black: #000;
  --acc-color: #17479e;
  --border-color: #dcdcdc;
  --light-grey: #aaa;
  --active-bg: #c7dbff;
  --search-bg: #fcfcfc;
  --btn-red: #e73725;
  --font-color: #505050;
  --light-bg: #f8f8f8;
  --save-btn: #077838;
}

.common-fonts {
  color: #000;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

/* general css start ends */

/* career top starts here  */

.career-main-container {
  max-width: 1660px;
  margin: 0 auto;
}

.career-bg {
  position: relative;
}

.career-bg img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.career-join-us {
  color: var(--black);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 10%;
}

.career-join-us span {
  color: var(--btn-red);
}

/* career top ends here  */

/* intern starts here  */

.career-intern-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  padding: 2rem 8rem;
}

.head {
  width: 100%;
}

.career-intern-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.career-intern-heading {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0;
}

.career-team {
  font-family: DM Sans;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
}

.career-note {
  font-size: 1rem;
  line-height: 1.875rem; /* 150% */
  margin-top: 1.4rem;
}

.career-note span {
  color: var(--btn-red);
}

.career-join-btn {
  background-color: var(--btn-red);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 7px 15px;
  margin-top: 0.94rem;
}

.career-join-btn:hover {
  color: var(--btn-red);
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--btn-red);
  cursor: pointer;
}

/* intern right starts here  */

.career-intern-img {
  border-radius: 0.25rem;
  background: #e7f2ff;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.career-intern-img img {
  height: 2rem;
  width: 2rem;
}
.career-intern-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 3.5rem;
  row-gap: 2.5rem;
}

.career-intern-heading {
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

.career-intern-note {
  color: var(--Secondary, #505050);
  line-height: 1.5rem; /* 171.429% */
}
/* intern right ends here  */

/* intern ends here  */

/* search section css  */

.search-box {
  display: flex;
  width: 50rem;
  height: 3rem;
  margin: 0 auto;
  margin-bottom: 2rem;

}

.left-search {
  flex: 1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
}

.right-search {
  flex: 1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  position: relative;
}

input[class="carrer-search"] {
  width: 100%;
  height: 100%;
  /* Set the height to 100% */
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.carrer-search:first-child{
  padding-right: 90px;

}


.search-icon {
  border: 1px solid #ccc;
  border-right: none;
  width: 40px;
  height: 100%;
  /* Set the height to 100% */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.career-search-box {
  border: 1px solid #ccc;
}

.search-text {
  background-color: #e73725;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career-role-location {
  width: 50rem;
  margin: 0 auto;
  margin-top: 3.5rem;
}

.role-location {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 2rem;
}

.role-location p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.role-location p:last-child {
  margin-left: 21.5rem;
}

.career-select-section {
  width: 50rem;
  margin: 0 auto;
}

.career-select {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 3rem;
}

.career-options {
  border: none;
  padding-right: 0.5rem;
  margin-right: 2.8rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
/* search section css ends */

/* tab section starts here  */

.career-profile{
  color: var(--Secondary, #505050);
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
}

.career-product{
font-size: 1rem;
font-weight: 600;
text-transform: uppercase;
}

.career-tab{
  padding: 2rem 8rem;
}

.career-show{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}


.career-col{
  margin-right: 3rem;
  margin-bottom: 1rem;
  padding-top: 0.3rem;
}


.career-apply button{
  background-color: #e73725;
  color: white;
  cursor: pointer;
  padding: 7px 15px;
  border: 1px solid #e73725;

}

.career-apply button:hover{
  background-color: white;
  color:#e73725;
  border: 1px solid #e73725;
  transition: all 0.5s ease-in-out;
}
/* tab section ends here  */

/* media query starts here  */

@media only screen and (max-width: 1200px) {
  .career-join-us {
    width: 50%;
  }
}
@media only screen and (max-width: 1150px) {
  .career-tab{
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .career-intern-container {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 0rem 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .career-show{
      justify-content: start;
  }
  }
@media only screen and (max-width: 830px) {
  .career-join-us {
    font-size: 2rem;
  }

  .career-select-section, .career-role-location, .search-box{
   width:40rem;
  }

  .role-location p:last-child {
    margin-left: 16.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .career-join-us {
    font-size: 1.7rem;
  }
  .career-select-section, .career-role-location, .search-box{
    width:30rem;
   }

   .role-location p:last-child {
    margin-left: 11.5rem;
  }

  .career-select {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  .career-options{
    margin-bottom: 1rem;
  }
}


@media only screen and (max-width: 610px) {
  .career-join-us {
    font-size: 1.5rem;
  }

  .career-intern-right {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 560px) {
  .career-join-us {
    font-size: 1.3rem;
  }

  .career-select-section, .career-role-location, .search-box{
    width:25rem;
   }

   .role-location p:last-child {
    margin-left: 9rem;
  }
}
@media only screen and (max-width: 490px) {
  .career-join-us {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .career-select-section, .career-role-location, .search-box{
    width:20rem;
   }

   .role-location p:last-child {
    margin-left: 6rem;
  }

  .career-select {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media only screen and (max-width: 390px) {
  .career-join-us {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 330px) {
  .career-join-us {
    font-size: 0.7rem;
  }

  .career-select-section, .career-role-location, .search-box{
    width:15rem;
   }

   .role-location p:last-child {
    margin-left: 3rem;
  }
}

/* media query ends here  */
